.button {
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;

}

.todo-item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.todo-item:not(:last-child) {
    margin-bottom: 10px;
}

.checkbox:checked+.text {
    text-decoration: line-through;
}